.opcoes {
    display: flex;
    justify-content: space-around;
    background-color: rgba(83, 83, 83, 0.623);
    border-radius: 30px;
    margin: 20px 0px 0px 0px;
    padding-inline: 30px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.area_opcao_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.area_opcao_menu > p {
    margin-top: -5px;
    font-size: 0.85em;
}

.opcao {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #3A1C71 0%, #D76D77 0%, #ffb07bc9 100%);
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-items: center;
    margin: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}